body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  background-color: #37474f;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
}

#display {
  background-color: #62727b;
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
}

.drum-pad {
  padding: 1rem 3rem;
  margin: 0.3rem;
}

button {
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #102027;
  color: white;
}

#wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
